<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmlearn.tasks.generator.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.ssmlearn.tasks.generator.pojo.Task">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="wxNoticeFrom" column="wx_notice_from" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="toWho" column="to_who" jdbcType="VARCHAR"/>
            <result property="wxNoticeTo" column="wx_notice_to" jdbcType="VARCHAR"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
            <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="typeId" column="type_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,wx_notice_from,name,
        to_who,wx_notice_to,end_time,
        status,finish_time,add_time,
        type_id
    </sql>
</mapper>
